.icon {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
}
