.card {
  min-width: 320px;
  width: 345px;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
  font-size: 18px;
}

.info > p {
  display: flex;
  gap: 8px;
  align-items: center;
}

.phoneLink {
  display: flex;
  gap: 8px;
  font-weight: 600;
}

.btnGroup {
  display: flex;
  gap: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(29, 29, 29);
  padding: 0.6em 1.2em;
  color: rgb(29, 29, 29);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c4c4c4;
  cursor: pointer;
  transition: border-color 0.25s;
}

.icon {
  width: 20px;
  height: 20px;
}

.btnIcon {
  width: 20px;
  height: 20px;
}

.editingInput {
  background-color: #ffffff;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 3px;
  color: rgb(29, 29, 29);
  font-size: 18px;
  padding: 0 5px;
}
